body {
  background-color: orange;
  font-family: sans-serif;
  text-align: center;
}

section {
   width: 600px;
   background-color: teal;
   border-radius: 50px;
   padding: 10px;
   padding-bottom: 40px;
   margin: auto;
   margin-bottom: -250px;
}
